@use 'styles/common';

.wrapper {
  width: 100vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  .diagonalTop, .diagonalBottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100vw 0 0;
  }

  .diagonalTop {
    border-color: transparent var(--primary) transparent transparent;
  }

  .diagonalBottom {
    border-color: var(--primary) transparent transparent transparent;
  }

  .background {
    padding: var(--geist-space-16x) 0;
    background: var(--primary);

    .content {
      @include common.wrapper;
      color: var(--on-primary);
    }
  }
}
