@use 'styles/fonts';

.wrapper {
  max-width: var(--geist-page-width-with-margin);
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.summary {
  padding: 60px 0 100px;
}

.summary {
  border-top: 1px solid var(--accents-2);
  border-bottom: 1px solid var(--accents-2);
  background: var(--accents-1);
}

.bold {
  font-weight: 600;
}

.header {
  @include fonts.header;
}

.body {
  @include fonts.body;
}
